# Porta do servidor
PORT=3333

# Host do servidor
HOST=0.0.0.0

# Nível de log (debug, info, warn, error)
LOG_LEVEL=info

# URL de conexão PostgreSQL
DATABASE_URL=postgresql://user:password@localhost:5432/url_shortener

# Cloudflare R2
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_SECRET_ACCESS_KEY=
CLOUDFLARE_BUCKET=
CLOUDFLARE_PUBLIC_URL=